﻿@model IEnumerable<Grinding.Models.MasterData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="Pallet-fluid" style="margin-top:10px;">
        <div class="card">
            <div class="card-body">
                <div class="page-header">
                    <h3>Master Data</h3>
                </div>

                <p>
                    <a asp-action="Create" class="btn btn-warning">Create New</a>
                </p>
                <table class="table" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.md_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.md_type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.md_cre_by_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.md_cre_date)
                            </th>
                            <th></th>
                            <th></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.md_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.md_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.md_cre_by_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.md_cre_date)
                                </td>
                                <td>
                                    <a asp-action="Edit"  class="btn btn-info" asp-route-id="@item.md_id">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.md_id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
        </div>
</div>
