﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Pallet" style="margin-top: 3vh;">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>User List</label>
                <div class="form-group">
                    <label  class="control-label"></label>
                    <select class="form-control" asp-items="@(new SelectList(ViewBag.RoleList,"r_id","r_description"))" id="SelectRole" >
                        <option value="0">Select Role</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label>Type</label><br>
                               <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                   <label class="btn btn-secondary active">
                                       <input type="radio" name="frmTypes" id="option1" autocomplete="off" value="Menu" checked> Menu
                                   </label>
                                   <label class="btn btn-secondary">
                                       <input type="radio" name="frmTypes" id="option2" autocomplete="off" value="MenuItem">
                                       Menu Item
                                   </label>
                                   <label class="btn btn-secondary">
                                       <input type="radio" name="frmTypes" id="option3" autocomplete="off" value="Android">
                                       Android
                                   </label>
                                   <label class="btn btn-secondary">
                                       <input type="radio" name="frmTypes" id="option4" autocomplete="off" value="Options">
                                       Options
                                   </label>
                               </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Save</label>
                <button type="button" id="saveMenu" class="form-control btn btn btn-success" disabled>Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label>All Functions</label>
                <select name="from" id="multiselect" class="form-control" size="15" multiple="multiple">
                    
                </select>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label class="btn btn-block">Move</label>
                <button type="button" id="multiselect_rightAll" class="btn btn-block">
                    <i class="fa fa-forward"></i>
                </button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block">
                    <i class="fa fa-backward">
                    </i>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Allowed Functions</label>
                <select name="to" id="multiselect_to" class="form-control" size="15" multiple="multiple"> </select>
            </div>
           
        </div>
    </div>
</div>


