﻿@model Grinding.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Delete User</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="page-header">
                    <h3>Are you sure you want to delete this?</h3>
                    </div>
                    <div>
                      <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.u_full_name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_full_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_password)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_password)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_role_id)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_role_id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_is_admin)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_is_admin)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_active_yn)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_active_yn)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_cre_by)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_cre_by)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.u_cre_date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.u_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="u_id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
</div>
</div>
</div>
</div>