﻿@model Grinding.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Edit User</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="u_id" />
                                <div class="form-group">
                                    <label asp-for="u_full_name" class="control-label"></label>
                                    <input asp-for="u_full_name" class="form-control" />
                                    <span asp-validation-for="u_full_name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="u_name" class="control-label"></label>
                                    <input asp-for="u_name" class="form-control" />
                                    <span asp-validation-for="u_name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="u_password" class="control-label"></label>
                                    <input asp-for="u_password" class="form-control" />
                                    <span asp-validation-for="u_password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="u_role_id" class="control-label"></label>
                                    <select asp-for="u_role_id" class="form-control" asp-items="@(new SelectList(ViewBag.RoleList,"r_id","r_description"))"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="u_is_admin" class="control-label"></label>
                                    <select asp-for="u_is_admin" class="form-control">
                                        <option selected value="N">N</option>
                                        <option value="Y">Y</option>
                                    </select>
                                    <span asp-validation-for="u_is_admin" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="u_active_yn" class="control-label"></label>
                                    <select asp-for="u_active_yn" class="form-control">
                                        <option selected value="N">N</option>
                                        <option value="Y">Y</option>
                                    </select>
                                    <span asp-validation-for="u_active_yn" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
