﻿@model Grinding.Models.Reason

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Create Reason</h3>
        </div>
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="rs_description" class="control-label"></label>
                                <input asp-for="rs_description" class="form-control"  required/>
                                <span asp-validation-for="rs_description" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label asp-for="rs_type" class="control-label"></label>
                                <input asp-for="rs_type" class="form-control"  required/>
                                <span asp-validation-for="rs_type" class="text-danger"></span>
                            </div>*@
                         
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</div>