﻿@model Grinding.Models.Reason

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Create Reason</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2>Delete</h2>

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Reason</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.rs_description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.rs_description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.rs_type)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.rs_type)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.rs_cre_by)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.rs_cre_by)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.rs_cre_date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.rs_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="rs_id" />
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>