﻿@model IEnumerable<Grinding.Models.Reason>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h2>Create Reason</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>
                        <a asp-action="Create" class="btn btn-warning">Create New</a>
                    </p>
                    <table class="table" id="mytable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.rs_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rs_cre_by_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rs_cre_date)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rs_description)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rs_cre_by_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rs_cre_date)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.rs_id">Edit</a> 
                                    </td>
                                    <td>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.rs_id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
</div>
</div>
</div>