﻿@model Grinding.Models.PalletNumber

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Create PalletNumber</h3>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="pn_description" class="control-label"></label>
                                <input asp-for="pn_description" class="form-control" required />
                                <span asp-validation-for="pn_description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="pn_type" class="control-label"></label>
                                <select asp-for="pn_type" class="form-control" required>
                                    <option value="">Select Type</option>
                                    <option value="Pallet">Pallet</option>
                                    <option value="Trolly">Trolly</option>
                                </select>
                                <span asp-validation-for="pn_type" class="text-danger"></span>
                            </div>
                            @if(@ViewBag.Message!=null){
                            <div class="form-group">
                                <label  class="label label-danger">@ViewBag.Message</label>
                            </div>
                            }
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</div>