﻿@model Grinding.Models.PalletNumber

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h2>Delete</h2>

            <h3>Are you sure you want to delete this?</h3>

        </div>
        <div class="card">
            <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.pn_description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.pn_description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.pn_cre_by)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.pn_cre_by)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.pn_cre_date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.pn_cre_date)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="pn_id" />
                        <input type="submit" value="Delete" class="btn btn-default" />
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

