﻿@model Grinding.Models.PalletNumber

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Edit Pallet Number</h3>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="pn_id" />
                                <div class="form-group">
                                    <label asp-for="pn_description" class="control-label"></label>
                                    <input asp-for="pn_description" class="form-control"  required/>
                                    <span asp-validation-for="pn_description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="pn_available_yn" class="control-label"></label>
                                    <select asp-for="pn_available_yn" class="form-control" required>
                                        <option value="">Select Type</option>
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                    <span asp-validation-for="pn_available_yn" class="text-danger"></span>
                                  
                                </div>
                                <div class="form-group">
                                    <label asp-for="pn_type" class="control-label"></label>
                                    <select asp-for="pn_type" class="form-control" required>
                                        <option value="">Select Type</option>
                                        <option value="Pallet">Pallet</option>
                                        <option value="Trolly">Trolly</option>
                                    </select>
                                    <span asp-validation-for="pn_type" class="text-danger"></span>
                                </div>
                            
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
            </div>
        </div>
    </div>
</div>
