﻿@model IEnumerable<Grinding.Models.PalletNumber>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Pallets</h3>
         
        </div>
        <div class="card">
            <div class="card-body">
                <p>
                    <a class="btn btn-warning" asp-action="Create">Create New</a>
                </p>
                <table class="table" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_available_yn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_active_yn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_cre_by_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pn_cre_date)
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_available_yn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_active_yn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_cre_by_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pn_cre_date)
                            </td>
                            <td>
                                <a  class="btn btn-info" asp-action="Edit" asp-route-id="@item.pn_id">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.pn_id">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
</div>
</div>
</div>