﻿@model IEnumerable<Grinding.Models.WorkflowTracker>

@{
    Layout = null;
}



    <div class="Pallet-fluid">
        <div class="card">
            <div class="card-body">
                <div id="cont">

                </div>
                </div>
            </div>
                <div class="card">
                    <div class="card-body" >
                        <div class="Pallet" style="align-content:center">
                            <table class="table  table-responsive text-nowrap" >
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.wt_step_description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.wt_step_to_description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.wt_approve_status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.wt_cre_by_name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.wt_cre_date)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.wt_step_description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.wt_step_to_description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.wt_approve_status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.wt_cre_by_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.wt_cre_date)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        </div>
                      
                </div>
            </div>
