﻿@model IEnumerable<Grinding.Models.WorkflowTracker>

@{
    Layout = null;
}


<table class="table" id="mytable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.wt_con_code)</th>
            <th>@Html.DisplayNameFor(model => model.wt_pall_desc)</th>
            <th>
                @Html.DisplayNameFor(model => model.wt_dep_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wt_dep_to_description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.wt_serial_no)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.wt_step_description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.wt_step_to_description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.wt_approve_status)
            </th>
          
            <th>
                Checked By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wt_cre_date)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.wt_con_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wt_pall_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wt_dep_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_dep_to_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_serial_no)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_step_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_step_to_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_approve_status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wt_cre_by_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wt_cre_date)
            </td>

        </tr>
}
    </tbody>
</table>
