﻿@model Grinding.Models.WorkflowTracker

@{
    ViewData["Title"] = "MovementHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h2>Movement History</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" id="serialNo" placeholder="Serial Number" onchange="MovementHistoryBySearch();"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div id="container">

        </div>
    </div>
</div>


