﻿@model IEnumerable<Grinding.Models.WorkflowDetail>
@{
    Layout = null;
}
<table  class="table  table-responsive text-nowrap" id="mytable" style="width:100%">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.wd_step_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wd_step_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wd_priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wd_active_yn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wd_cre_by_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wd_cre_date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.wd_step_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wd_step_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wd_priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wd_active_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wd_cre_by_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wd_cre_date)
            </td>
        </tr>
        }
    </tbody>
</table>
