﻿@model IEnumerable<Grinding.Models.WorkflowDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Status</title>

    <style>
        .multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
            content: counter(stepNum);
            font-family: inherit;
            font-weight: 700;
        }

        .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
            background-color: #ededed;
        }

        .multi-steps {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

            .multi-steps > li {
                counter-increment: stepNum;
                text-align: center;
                display: table-cell;
                position: relative;
                color: tomato;
            }

                .multi-steps > li:before {
                    content: "\f00c";
                    content: "\2713;";
                    content: "\10003";
                    content: "\10004";
                    content: "\2713";
                    display: block;
                    margin: 0 auto 4px;
                    background-color: #fff;
                    width: 36px;
                    height: 36px;
                    line-height: 32px;
                    text-align: center;
                    font-weight: bold;
                    border-width: 2px;
                    border-style: solid;
                    border-color: tomato;
                    border-radius: 50%;
                }

                .multi-steps > li:after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    background-color: tomato;
                    position: absolute;
                    top: 16px;
                    left: 50%;
                    z-index: -1;
                }

                .multi-steps > li:last-child:after {
                    display: none;
                }

                .multi-steps > li.is-active:before {
                    background-color: #fff;
                    border-color: tomato;
                }

                .multi-steps > li.is-active ~ li {
                    color: #808080;
                }

                    .multi-steps > li.is-active ~ li:before {
                        background-color: #ededed;
                        border-color: #ededed;
                    }
    </style>
</head>
<body>
    @if (ViewBag.status != 0)
    {
        <ul class="list-unstyled multi-steps">

            @foreach (var item in Model)
            {@if (ViewBag.status == item.wd_priority)
                {
                    <li class="is-active">
                        @Html.DisplayFor(modelItem => item.wd_step_description)
                    </li>
                }
                else
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.wd_step_description)
                    </li>
                }
        }

        </ul>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>
            !</strong>  <a class="alert-link">Not Initiated or Rejected</a>
        </div>
       
    }
</body>
</html>
