﻿@model Grinding.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Create Category</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="cat_description" class="control-label"></label>
                                <input asp-for="cat_description" class="form-control" required />
                                <span asp-validation-for="cat_description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="cat_dep_id" class="control-label"></label>
                                <select asp-for="cat_dep_id" class="form-control" asp-items="@(new SelectList(ViewBag.Department,"d_id","d_description"))" required>
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                            @if(@ViewBag.Message!=null){
                            <div class="form-group">
                                <label class="label label-danger">@ViewBag.Message</label>
                            </div>
                            }
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
                </div>
            </div>
        </div>
    </div>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
