﻿@model Grinding.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Delete Category</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.cat_description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.cat_description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.cat_cre_date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.cat_cre_date)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="cat_id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
