﻿@model IEnumerable<Grinding.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Category</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>
                        <a class="btn btn-warning" asp-action="Create">Create New</a>
                    </p>
                    <table class="table" id="mytable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.cat_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cat_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cat_dep_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cat_cre_by_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cat_cre_date)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_dep_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_cre_by_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_cre_date)
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.cat_id">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.cat_id">Delete</a>
                                </td>
                            </tr>
                            }
                            </tbody>
                            </table>
                        </div>
                    </div>
</div>
</div>