﻿@model Grinding.Models.Workflow

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Create workflow</h3>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2>Delete</h2>

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Workflow</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.w_description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.w_description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.w_active_yn)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.w_active_yn)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.w_cre_by)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.w_cre_by)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.w_cre_date)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.w_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="w_id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
</div>
</div>
</div>
</div>