﻿@model Grinding.Models.Workflow

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Edit workflow</h3>

            </div>
            <div class="card">
                <div class="card-body">
                
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="w_id" />
                                <div class="form-group">
                                    <label asp-for="w_description" class="control-label"></label>
                                    <input asp-for="w_description" class="form-control" required/>
                                    <span asp-validation-for="w_description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
</div>
</div>
</div>
</div>