﻿@model Grinding.Models.UserDepartment

@{
    ViewData["Title"] = "Create";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>User Department Mapping</h3>
            </div>
            <div class="card">
                <div class="card-body">
                 
                    <hr />
                    @if (@TempData["errorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error!</strong>  <a href="#" class="alert-link">@TempData["errorMessage"]</a>.
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="ud_user_id" class="control-label"></label>
                                    <select asp-for="ud_user_id" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))" required>
                                        <option value="">Select User</option>
                                    </select>
                                    <span asp-validation-for="ud_user_id" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ud_depart_id" class="control-label"></label>
                                    <select asp-for="ud_depart_id" class="form-control" asp-items="@(new SelectList(ViewBag.DepartmentList,"d_id","d_description"))" required>
                                        <option value="">Select department</option>
                                    </select>
                                    <span asp-validation-for="ud_depart_id" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }

</div>
</div>
</div>
</div>