﻿@model Grinding.Models.UserDepartment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserDepartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ud_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_user_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_user_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_user_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_user_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_depart_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_depart_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_depart_desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_depart_desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_active_yn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_active_yn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_cre_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_cre_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ud_cre_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ud_cre_date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
