﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h4>Quality Check</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                int i = 0;
                                @foreach (var item in ViewBag.Part)
                                {
                                    if (i == 0)
                                    {
                                        <label class="btn btn btn-secondary btn-lg active" style="margin:1px">
                                            <input type="radio" name="frmTypes" autocomplete="off" value="@item.PartId" checked> @item.PartName
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn btn-secondary btn-lg" style="margin:1px">
                                            <input type="radio" name="frmTypes" autocomplete="off" value="@item.PartId" > @item.PartName
                                        </label>
                                    }
                                    i = i + 1;
                                }
                            }


                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" id="serialNo" class="form-control" onchange="findToQC();" placeholder="Scan Serial Number ..." />
                    </div>
                </div>



            </div>
        </div>
        <hr />
        <div class="card">
            <div class="card-body" id="Container">

            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Reject">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rejection Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="rejectionDepart" class="btn-group btn-group-toggle" data-toggle="buttons">
                                @{
                                    i = 0;
                                    @foreach (var item in ViewBag.Departments)
                                    {
                                        @*if (i == 0)
                                        {
                                            <label class="btn btn btn-secondary active" id="@string.Format("fromdepRejlbl{0}", @item.d_id)" style="margin:1px">
                                                <input type="radio" name="fromdep" autocomplete="off" value="@item.d_id" id="@string.Format("fromdep{0}", @item.d_id)" checked> @item.d_description
                                            </label>
                                        }
                                        else
                                        {*@
                                            <label class="btn btn btn-secondary" style="margin:1px" id="@string.Format("fromdepRejlbl{0}", @item.d_id)">
                                                <input type="radio" name="fromdep" autocomplete="off" value="@item.d_id" id="@string.Format("fromdepRej{0}", @item.d_id)" > @item.d_description
                                            </label>
                                        @*}
                                        i = i + 1;*@
                                    }
                                }


                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Type</label>
                            <input id="id" type="hidden" value="0" />
                            <input id="status" type="hidden" value="0" />
                            <select class="form-control" id="ReasonType">
                                <option value="0">Type</option>
                                @foreach (var item in ViewBag.Reason)
                                {
                                    <option value="@item.rs_id">@item.rs_description</option>
                                }
                            </select>

                        </div>
                        <div class="col-md-9">
                            <label>Remarks</label>
                            <input type="text" class="form-control" id="Remarks" />
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid" name="palletContainer">


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="validate(1,'Rejected');">Reject</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Approve">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approval Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ApprovalButtonGroup"  class="btn-group" >
                                @{
                                    i = 0;
                                    @foreach (var item in ViewBag.Departments)
                                    {
                                       
                                            <label class="btn btn btn-secondary "  id="@string.Format("fromdepApplbl{0}", @item.d_id)"style="margin:1px">
                                                <input type="radio" name="fromdep" autocomplete="off" value="@item.d_id" id="@string.Format("fromdepApp{0}", @item.d_id)"> @item.d_description
                                            </label>
                                      
                                    }
                                }


                            </div>

                        </div>
                    </div>
                    <br />
                   <hr/>
                    <div class="container-fluid" name="palletContainer">
                       

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="validate(1,'Approved');">Approve</button>
            </div>
        </div>
    </div>
</div>

