﻿@model Grinding.Models.Pallet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Pallet Creation</h3>
            </div>
            <div class="card">
                <div class="card-body">
                  
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="control-label">Department</label>
                                <select asp-for="con_dep_id" class="form-control" asp-items="@(new SelectList(ViewBag.Department,"d_id","d_description"))" onchange="categoryByDepartment('con_dep_id','con_cat_id');">
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="con_cat_id" class="control-label"></label>
                                <select asp-for="con_cat_id" class="form-control" >
                                    <option value="">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="con_pall_id" class="control-label"></label>
                                <select asp-for="con_pall_id" class="form-control" asp-items="@(new SelectList(ViewBag.PalletNumber,"pn_id","pn_description"))">
                                    <option value="">Select PalletNumber</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">

                                <input type="submit" value="Create" class="btn btn-default" style="margin-top:25px" onclick="createPallet();" />
                            </div>

                        </div>

                    </div>
                    
                    <hr />
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
                </div>
        </div>
</div>
 @section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }

