﻿@model IEnumerable<Grinding.Models.Pallet>

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        int i = 0;
                        @foreach (var item in ViewBag.Step)
                        {
                            if (ViewBag.CurrStep == @item.s_id)
                            {

                                <label class="btn btn-info btn-lg active" style="margin:1px" disabled>
                                    <input type="radio" name="rd_step" autocomplete="off" value="@item.s_id" checked> @item.s_description
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-info btn-lg" style="margin:1px" disabled>
                                    <input type="radio" name="rd_step" autocomplete="off" value="@item.s_id" disabled> @item.s_description
                                </label>
                            }
                            i = i + 1;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.con_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cat_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_pall_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cond_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cre_by_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cre_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.con_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_cat_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_pall_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_cond_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_cre_by_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_cre_date)
                </td>
                <td>
                    <button class="btn btn-success" onclick="addToPallet('@item.con_code');">Add to This Pallet</button>
                </td>
            </tr>
        }
    </tbody>
</table>
