﻿@model IEnumerable<Grinding.Models.ContainerDetail>

@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cond_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Inhouse_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Step)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="@string.Format("tr{0}", @item.cond_id)">
            <td>
                @Html.DisplayFor(modelItem => item.cond_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Inhouse_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_part_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Make_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Model_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Step_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_quantity)
            </td>
            <td>
                <button class="btn btn-primary" onclick="SendToQC(@item.cond_id);">Send</button>
            </td>
        </tr>
}
    </tbody>
</table>
