﻿@model IEnumerable<Grinding.Models.Pallet>

@{
    Layout = null;
}

@if(ViewBag.Message!=null){
<div class="row">
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
</div>
    }

<input type="hidden" id="NextStep"  value="@ViewBag.NextStep"/>
<div class="row">
    <div class="col-md-6">
        <h4>Next Step : <span class="label label-default" name="PaintColor">@ViewBag.NextStep</span></h4>
    </div>
</div>
@if(!@ViewBag.NextStep.ToString().Equals("Batch Making")){
<div class="row">
    @foreach (var item in ViewBag.PaintColor)
            {
    <div class="col-md-6">

        <h4>@item.mmp_Paint_Type_Name : <span class="label label-default">@item.mmp_Paint_Color_Name</span></h4>

    </div>
            }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_cat_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_pall_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_cond_count)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_cre_by_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.con_cre_date)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                            {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="@item.con_code" name="chk_pallet">
                                <label class="form-check-label" for="defaultCheck1">
                                </label>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_cat_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_pall_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_cond_count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_cre_by_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.con_cre_date)
                        </td>

                    </tr>
                            }
                </tbody>
            </table>
        </div>

    </div>
</div>
}


