﻿@model IEnumerable<Grinding.Models.ContainerDetail>

@{
    Layout = null;
}
    <div class="row">
        <div class="col-md-12">
            <span  class="pull-right btn btn-primary">
                Count <span class="badge badge-danger ml-2" id="NoOfItems">@ViewBag.Count</span>
                <input type="hidden" id="HiddNoOfItems" value="@ViewBag.Count"/>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" id="mytable">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.cond_Inhouse_no)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_part_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_Make_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_Model_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_Step_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cond_Send_yn)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.cond_approved_status)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.cond_Inhouse_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cond_part_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cond_Make_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cond_Model_Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.cond_Step_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cond_quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cond_Send_yn)
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    @if (@item.cond_approved_status == "Approved")
                                    {
                                        <span type="button" class="pull-right btn btn-success"> <i class="fas fa-check"></i> </span>
                                    }
                                    else if (@item.cond_approved_status == "Rejected")
                                    {
                                        <span type="button" class="pull-right btn btn-danger" onclick="RejectedReason(@item.cond_id);"> <i class="fa fa-ban" aria-hidden="true"></i></span>
                                    }
                                    else
                                    {
                                    }
                                </div>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



