﻿@model IEnumerable<Grinding.Models.ContainerDetail>

@{
    
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.cond_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Inhouse_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_dep_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_part_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cond_Make_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cond_Model_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cond_Step_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cond_Send_yn)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.cond_cre_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="@String.Format("tr{0}", @item.cond_id)">
            <td>
                <button class="btn btn-danger" onclick="reject(@item.cond_id,'Rejected',@item.cond_dep_id);">Reject</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Inhouse_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_dep_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_part_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cond_Make_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cond_Model_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cond_Step_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cond_Send_yn)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.cond_cre_date)
            </td>
            <td>
                <button class="btn btn-success" onclick="validationModel(@item.cond_id,'Approved',@item.cond_dep_id);">Approve</button>
            </td>
        </tr>
}
    </tbody>
</table>
