﻿@model Grinding.Models.Pallet

@{
    ViewData["Title"] = "ContainerReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Pallet Report</h3>
            </div>
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">

                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <select asp-for="con_cat_id" id="con_cat_id" class="form-control" asp-items="@(new SelectList(ViewBag.Category,"cat_id","cat_description"))">
                                <option value="">All</option>
                            </select>
                            <span asp-validation-for="con_cat_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            <label class="control-label">PalletNumber</label>
                            <select asp-for="con_pall_id" id="con_pall_id" class="form-control" asp-items="@(new SelectList(ViewBag.PalletNumber,"pn_id","pn_description"))">
                                <option value="">All</option>
                            </select>
                            <span asp-validation-for="con_pall_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Date Range</label>
                                <input id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="con_allocated_to" class="control-label"></label>
                            <select asp-for="con_allocated_to"  id="con_allocated_to" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))">
                                <option value="">All</option>
                            </select>
                            <span asp-validation-for="con_allocated_by" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="con_cre_by" class="control-label"></label>
                            <select asp-for="con_cre_by" id="con_cre_by" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))">
                                <option value="">All</option>
                            </select>
                            <span asp-validation-for="con_cre_by" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group" align="justify">
                            <label class="control-label"></label>
                            <input type="submit" onclick="getPalletsReport();" style="margin-top:25px" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="card">
                    <div class="card-body" id="Container">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
