﻿@model IEnumerable<Grinding.Models.Pallet>

@{
    ViewData["Title"] = "ContainerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h4>Pallet</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="con_code" value="@ViewBag.Con_code" placeholder="Enter Pallet"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" onclick="getPallet();">Search</button>
                    </div>
                    @if (ViewBag.AllocationAccess == 1)
                    {
                    <div class="col-md-2">
                        <button class="btn btn-success pull-right" id="Allocate" onclick="allocatePallet();" disabled>Allocate</button>
                    </div>
                    }
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <select id="Category" class="form-control" asp-items="@(new SelectList(ViewBag.Category,"cat_id","cat_description"))" disabled>
                                <option value="">Select Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Pallet Number</label>
                        <input type="text" class="form-control" id="palletNumber" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Created By</label>
                        <input type="text" class="form-control" id="createdBy" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Created Date</label>
                        <input type="text" class="form-control" id="createdDate" disabled />
                    </div>

                </div>
            </div>
        </div>

        <hr />
        <h4>Details</h4>
        <hr />
        @*<div class="card">
            <div class="card-body">

                <div class="col-md-3">
                    <select id="Part" class="form-control" asp-items="@(new SelectList(ViewBag.Part,"PartId","PartName"))" disabled>
                        <option value="">Select Part</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="Step" class="form-control" asp-items="@(new SelectList(ViewBag.Step,"s_id","s_description"))" disabled>
                        <option value="">Select Step</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" id="serialNo" class="form-control" onchange="addPalletsDetail();" disabled  placeholder="Scan Serial Number ..." />
                </div>

            </div>
        </div>
        <br />*@
        <div class="card">
            <div class="card-body" id="Container">

            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="UserAllocateModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Allocate Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="Pallet-fluid">
                    <div class="row" id="filter">

                        <div class="col-md-3">
                            <input type="hidden" id="id" name="id" class="form-control">
                            <input type="hidden" id="doc_id" name="doc_id" class="form-control">
                            <label class="control-label">Employee Name : </label>
                           
                           
                        </div>
                        <div  class="col-md-6">
                            <select id="User" class="form-control" asp-items="@(new SelectList(ViewBag.Users,"u_id","u_full_name"))">
                                <option value="">Select Employee</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btn_Allocate" class="btn btn-success" onclick="allocateEmployee();"  value="Allocate" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Reject">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rejection Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Type</label>
                            <input id="id" type="hidden" value="0" />
                            <input id="status" type="hidden" value="0" />
                            <select class="form-control" id="ReasonType" disabled>
                                <option value="0">Type</option>
                                @foreach (var item in ViewBag.Reason)
                                        {
                                <option value="@item.rs_id">@item.rs_description</option>
                                        }
                            </select>

                        </div>
                        <div class="col-md-9">
                            <label>Remarks</label>
                            <input type="text" class="form-control" id="Remarks"  disabled/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
        </div>
    </div>
</div>