﻿@model IEnumerable<Grinding.Models.Pallet>

@{
    Layout = null;
}

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.con_code)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.con_cat_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_pall_description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.con_finished_yn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cond_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_workedTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.con_allocated_to_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.con_cre_by_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con_cre_date)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.con_code)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.con_cat_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.con_pall_description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.con_finished_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.con_cond_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.con_workedTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.con_allocated_to_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.con_cre_by_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.con_cre_date)
            </td>

        </tr>
        }
    </tbody>
</table>
