﻿<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h4>Send To Qc</h4>
        </div>
        <div class="card">
            <div class="card-body">
                @*<div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                           
                                <label class="btn btn btn-info btn-lg active" style="margin:1px">
                                    <input type="radio" class="form-check-input" name="rd_serial_No" checked value="WithSRlNo">With Serial Number
                                </label>
                         
                                <label class="btn btn btn-info btn-lg" style="margin:1px">
                                    <input type="radio" class="form-check-input" name="rd_serial_No" value="WithoutSRlNo">Without Serial Number
                                </label>
                         
                        </div>
                    </div>
                </div>
                    <hr/>*@
                    @*<h4>Choose Part</h4>
                    <hr/>*@

                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                int i = 0;
                                @foreach (var item in ViewBag.Part)
                                {
                                    if (i == 0)
                                    {
                                        <label class="btn btn btn-secondary btn-lg active" style="margin:1px">
                                            <input type="radio" name="frmTypes" autocomplete="off" value="@item.PartId" checked> @item.PartName
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn btn-secondary btn-lg" style="margin:1px">
                                            <input type="radio" name="frmTypes" autocomplete="off" value="@item.PartId" checked> @item.PartName
                                        </label>
                                    }
                                    i = i + 1;
                                }
                            }
                        </div>
                    </div>
                </div>
                <br/>
                <hr />
                        

            <div class="row">

                <div class="col-md-3">
                    <Label>Scan Serial Number</Label>
                    <input type="text" id="serialNo" class="form-control" onchange="findContainerDetailForSendQc();" placeholder="Scan Serial Number ..." />
                </div>
                @*<div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Make</label>
                        <select id="Make" class="form-control" onchange="changeParts(2,'Make','Model')" asp-items="@(new SelectList(ViewBag.Make,"Id","ProductName"))" disabled>
                            <option value="0">Select Option</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Model</label>
                        <select id="Model" class="form-control" asp-items="@(new SelectList(ViewBag.Model,"Id","ProductName"))" disabled>
                            <option value="0">Select Option</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-success" id="btn-Allocate" style="margin-top:25px;" onclick="findContainerDetailForSendQc();"disabled>Search</button>
                    </div>
                </div>*@

            </div>
        </div>
        <div class="card">
            <div class="card-body" id="Container">

            </div>
        </div>
    </div>
</div>
</div>