﻿
@{
    ViewData["Title"] = "Sorting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h4>Sorting and Allocation</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="rd_serial_No" checked value="WithSRlNo">With Serial Number
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="rd_serial_No" value="WithoutSRlNo">Without Serial Number
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Select Part
                    </div>
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                int i = 0;
                                @foreach (var item in ViewBag.Part)
                                {
                                    if (i == 0)
                                    {
                                        <label class="btn btn btn-secondary btn-lg active" style="margin:1px">
                                            <input type="radio" name="rd_part" autocomplete="off" value="@item.PartId" checked> @item.PartName
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn btn-secondary btn-lg" style="margin:1px">
                                            <input type="radio" name="rd_part" autocomplete="off" value="@item.PartId" checked> @item.PartName
                                        </label>
                                    }
                                    i = i + 1;
                                }
                            }
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Select Step
                    </div>
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                i = 0;
                                @foreach (var item in ViewBag.Step)
                                {
                                    if (i == 0)
                                    {

                                             <label class="btn btn-info btn-lg active" style="margin:1px">
                                                 <input type="radio" name="rd_step" autocomplete="off" value="@item.s_id" checked> @item.s_description
                                             </label>
                                    }else
                                    {
                                             <label class="btn btn-info btn-lg" style="margin:1px">
                                                 <input type="radio" name="rd_step" autocomplete="off" value="@item.s_id"> @item.s_description
                                             </label>
                                    }
                                    i = i + 1;
                                }
                                }
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="serialNo">Scan Serial Number</label>
                    <input type="text" id="serialNo" class="form-control" onchange="findPallet();" placeholder="Scan Serial Number ..." />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Make</label>
                    <select id="Make" class="form-control" onchange="changeParts(2,'Make','Model')" asp-items="@(new SelectList(ViewBag.Make,"Id","ProductName"))"  disabled>
                        <option value="">Select Option</option>
                    </select>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <select id="Model" class="form-control" asp-items="@(new SelectList(ViewBag.Model,"Id","ProductName"))"  disabled>
                        <option value="">Select Option</option>
                    </select>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input type="number" id="Quantity" class="form-control"  placeholder="Quantity" value="1" disabled/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-success" id="btn-Allocate" style="margin-top:25px;" onclick="findPallet();"disabled>Search</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12" id="Container">
               
            </div>
        </div>
    </div>
</div>
       





