﻿@model IEnumerable<Grinding.Models.Pallet>

@{
    ViewData["Title"] = "StartWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card" id="startWork">
        <div class="card-body">
            <div class="page-header">
                <h4>Start Work</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="Pallet-fluid">
                        <div class="row">
                            <div class="col-md-3">
                            
                                <select id="con_code" class="form-control" asp-items="@(new SelectList(ViewBag.Pallet,"con_code","con_code_desc"))" onchange="getWorkTimeByContainer()">
                                    <option value="">Select Pallet</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                              @*//  <button class="btn btn-primary" onclick="getWorkTimeByContainer()">Search</button>*@
                                <button class="btn btn-success" onclick="startWork();">Start Work </button>
                                <button class="btn btn-warning" onclick="FinishWork();">End Work </button>
                            </div>
                         
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body" id="Container">

                </div>
            </div>
        </div>
 </div>


