﻿@{
    ViewData["Title"] = "WorkAllocationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Work Allocation</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Department</label>
                        <select id="dep_id" class="form-control" asp-items="@(new SelectList(ViewBag.Department,"d_id","d_description"))">
                            <option value="">Select Department</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Date Range</label>
                            <input id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group" align="justify">
                        <label class="control-label"></label>
                        <input type="submit" onclick="workAllocation();" style="margin-top:25px" class="btn btn-primary" />
                    </div>
                </div>
            </div>
                <hr />
                <div class="card">
                    <div class="card-body" id="Container">


                    </div>
                </div>
            </div>
        </div>
    </div>
