﻿@model System.Data.DataTable
@using System.Data;
@{
    Layout = null;
}


<div class="table-responsive">
    <table class="table text-nowrap " id="mytable" style="width:100%;">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (@col.ColumnName == "message")
                    {

                    }
                    else
                    {
                        <th>@col.ColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @{


                DataRow last = ViewBag.last;

                int i = 1;

                foreach (DataRow row in Model.Rows)
                {
                    <tr>

                        @foreach (DataColumn lastcol in Model.Columns)
                        {
                            foreach (DataColumn col in Model.Columns)
                            {
                                if (lastcol.ColumnName == col.ColumnName && row[col.ColumnName].GetType() == typeof(int))
                                {
                                    decimal average = 0;

                                    decimal baseavg = Math.Round((decimal.Parse(@last[lastcol.ColumnName].ToString())) / (Model.Rows.Count - 1), 2);

                                    if (baseavg == 0)
                                    {
                                        average = (decimal.Parse(@row[col.ColumnName].ToString()) / 1) * 100;
                                    }
                                    else
                                    {
                                        average = (decimal.Parse(@row[col.ColumnName].ToString()) / baseavg) * 100;
                                    }
                                   

                                    if (average < 90 && i != Model.Rows.Count && decimal.Parse(@last[lastcol.ColumnName].ToString()) != 0)
                                    {
                                        <td style="background-color:red;color:#FFF">@row[col.ColumnName]</td>
                                    }
                                    else if (average > 110 && i != Model.Rows.Count && decimal.Parse(@last[lastcol.ColumnName].ToString()) != 0)
                                    {
                                        <td style="background-color:orange;color:#000">@row[col.ColumnName]</td>
                                    }
                                    else if (i == Model.Rows.Count)
                                    {
                                        <th> @row[col.ColumnName]</th>
                                    }
                                    else if (decimal.Parse(@last[lastcol.ColumnName].ToString()) == 0)
                                    {
                                        <td> @row[col.ColumnName]</td>
                                    }
                                    else
                                    {
                                        <td style="background-color:lightgreen;color:#000"> @row[col.ColumnName]</td>
                                    }
                                }
                                else if (lastcol.ColumnName == col.ColumnName && col.ColumnName != "message")
                                {
                                    if (i == Model.Rows.Count)
                                    {
                                        <th> @row[col.ColumnName]</th>
                                    }
                                    else
                                    {
                                        <td> @row[col.ColumnName]</td>
                                    }

                                }

                            }
                        }

                    </tr>
                    i = i + 1;
                }
            }
        </tbody>
    </table>
</div>
