﻿@model Grinding.Models.MakeModelPart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Create Make Model Part</h3>
            </div>
            <div class="card">
                <div class="card-body">
                 
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="mmp_Make" class="control-label"></label>
                                    <select asp-for="mmp_Make" class="form-control" onchange="changeParts(2,'mmp_Make','mmp_Model')" asp-items="@(new SelectList(ViewBag.Make,"Id","ProductName"))" required>
                                        <option value="">Select Option</option>
                                    </select>
                                    <span asp-validation-for="mmp_Make" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="mmp_Model" class="control-label"></label>
                                    <select asp-for="mmp_Model" class="form-control" asp-items="@(new SelectList(ViewBag.Model,"Id","ProductName"))" required>
                                        <option value="">Select Option</option>
                                    </select>
                                    <span asp-validation-for="mmp_Model" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="mmp_part" class="control-label"></label>
                                    <select asp-for="mmp_part" class="form-control" asp-items="@(new SelectList(ViewBag.Part,"PartId","PartName"))" required>
                                        <option value="">Select Part</option>
                                    </select>
                                    <span asp-validation-for="mmp_part" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="mmp_Paint_Type" class="control-label"></label>
                                    <select asp-for="mmp_Paint_Type" class="form-control" asp-items="@(new SelectList(ViewBag.PaintType,"md_id","md_name"))" onchange="changePaintType('mmp_Paint_Type','mmp_Paint_Color')" required>
                                        <option value="">Select Paint Type</option>
                                    </select>
                                    <span asp-validation-for="mmp_Paint_Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="mmp_Paint_Color" class="control-label"></label>
                                    <select asp-for="mmp_Paint_Color" class="form-control" required>
                                        <option value="">Select Paint Color</option>
                                    </select>
                                    <span asp-validation-for="mmp_Paint_Color" class="text-danger"></span>
                                </div>

                                @if(ViewBag.Error!=null){
                                        <div class="form-group">
                                            <label  class="label label-danger">@ViewBag.Error</label>
                                        </div>
                                 }
                                
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>




