﻿@model Grinding.Models.MakeModelPart

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Delete Make Model Part</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>MakeModelPart</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_Make)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_Make)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_Model)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_Model)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_part)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_part)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_Paint_Color)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_Paint_Color)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_cre_by)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_cre_by)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mmp_cre_date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mmp_cre_date)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="mmp_id" />
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
