﻿@model IEnumerable<Grinding.Models.MakeModelPart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Make Model Part</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <p>
                    <a class="btn btn-warning" asp-action="Create">Create New</a>
                </p>
                <table class="table" id="mytable">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.mmp_Make_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.mmp_Model_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.mmp_part_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mmp_Paint_Type_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mmp_Paint_Color_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mmp_cre_by_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mmp_cre_date)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_Make_Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_Model_Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_part_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_Paint_Type_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_Paint_Color_Name)
                            </td>
                                                   
                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_cre_by_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mmp_cre_date)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.mmp_id">Edit</a>
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.mmp_id">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
