﻿@model Grinding.Models.Documents

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Create Document</h3>
        </div>
        <div class="card">
            <div class="card-body">


                <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="dc_description" class="control-label"></label>
                                    <input asp-for="dc_description" class="form-control" />
                                    <span asp-validation-for="dc_description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="dc_workflow_id" class="control-label"></label>
                                    <select asp-for="dc_workflow_id" class="form-control" asp-items="@(new SelectList(ViewBag.WorkflowList,"w_id","w_description"))"></select>
                                    <span asp-validation-for="dc_workflow_id" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a  class="btn btn-secondary"  asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
                    </div>
</div>
</div>
</div>
