﻿@model Grinding.Models.Documents

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="dc_id" />
            <div class="form-group">
                <label asp-for="dc_description" class="control-label"></label>
                <input asp-for="dc_description" class="form-control" />
                <span asp-validation-for="dc_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dc_workflow_id" class="control-label"></label>
                <select asp-for="dc_workflow_id" class="form-control" asp-items="@(new SelectList(ViewBag.WorkflowList,"w_id","w_description"))"></select>
                <span asp-validation-for="dc_workflow_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
