﻿@model IEnumerable<Grinding.Models.Documents>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">

            <div class="page-header">
                <h3>Document</h3>
            </div>
      
            <p>
                <a asp-action="Create" class="btn btn-warning">Create New</a>
            </p>

     
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">


                            <table class="table  table-responsive text-nowrap" id="mytable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_workflow_id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.doc_workflow_name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_active_yn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_cre_by)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dc_cre_date)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_workflow_id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.doc_workflow_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_active_yn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_cre_by)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dc_cre_date)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.dc_id">Edit</a>
                                            </td>
                                            <td>
                                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.dc_id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
          
            </div>
        </div>

</div>
</div>
</div>
