﻿@model Grinding.Models.PaintColor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Are you sure you want to delete this?</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.pc_name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.pc_name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.pc_cre_by)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.pc_cre_by)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.pc_cre_date)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.pc_cre_date)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="pc_id" />
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
  </div>
</div>