﻿@model Grinding.Models.PaintColor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Edit Paint Color</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="pc_id" />
                            <div class="form-group">
                                <label asp-for="pc_name" class="control-label"></label>
                                <input asp-for="pc_name" class="form-control" required />
                                <span asp-validation-for="pc_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="pc_type" class="control-label"></label>
                                <select asp-for="pc_type" class="form-control" asp-items="@(new SelectList(ViewBag.PaintType,"md_id","md_name"))" required>
                                    <option value="">Select Paint Type</option>
                                </select>
                                <span asp-validation-for="pc_type" class="text-danger"></span>
                            </div>
                            @if(@ViewBag.Message!=null){
                            <div class="form-group">
                                <label class="label label-danger">@ViewBag.Message</label>
                            </div>
                            }
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a asp-action="Index" class="">Back to List</a>
                </div>
                </div>
            </div>
        </div>
    </div>
