﻿@model IEnumerable<Grinding.Models.PaintColor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Paint Color</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <p>
                    <a asp-action="Create" class="btn btn-warning">Create New</a>
                </p>
                <table class="table" id="mytable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.pc_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pc_type_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pc_cre_by_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pc_cre_date)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pc_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pc_type_name)
                                </td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.pc_cre_by_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pc_cre_date)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.pc_id">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.pc_id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
