﻿@model Grinding.Models.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h2>Delete Department</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="page-header">
                        <h4>Are you sure you want to delete this?</h4>
                    </div>
                   
                   
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.d_description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.d_description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.d_active_yn)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.d_active_yn)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.d_cre_by)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.d_cre_by)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.d_cre_date)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.d_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="d_id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a  class="btn btn-secondary"  asp-action="Index">Back to List</a>
                        </form>
                    </div>
</div>
</div>
        </div>

