﻿@model Grinding.Models.Department

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Edit Department</h3>
            </div>
            <div class="card">
                <div class="card-body">
                
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="d_id" />
                                <div class="form-group">
                                    <label asp-for="d_description" class="control-label"></label>
                                    <input asp-for="d_description" class="form-control"  required/>
                                    <span asp-validation-for="d_description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="d_workflow" class="control-label"></label>
                                    <select asp-for="d_workflow" class="form-control" asp-items="@(new SelectList(ViewBag.Workflow,"w_id","w_description"))" required>
                                        <option value="">Select Workflow</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a  class="btn btn-secondary"  asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
</div>
</div>
</div>
</div>