﻿@model Grinding.Models.CategoryDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>CategoryDetail</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="catd_cat_id" class="control-label"></label>
                                    <select asp-for="catd_cat_id" class="form-control" asp-items="@(new SelectList(ViewBag.Category,"cat_id","cat_description"))" required>
                                        <option value="">Select Category</option>
                                    </select>
                                </div>
                               

                                <div class="form-group">
                                    <label asp-for="catd_part" class="control-label"></label>
                                    <select asp-for="catd_part" class="form-control" asp-items="@(new SelectList(ViewBag.Part,"PartId","PartName"))" required>
                                        <option value="">Select Part</option>
                                    </select>
                                    <span asp-validation-for="catd_part" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="catd_Make" class="control-label"></label>
                                    <select asp-for="catd_Make" class="form-control" onchange="changeParts(2,'catd_Make','catd_Model')" asp-items="@(new SelectList(ViewBag.Make,"Id","ProductName"))" required>
                                        <option value="">Select Option</option>
                                    </select>
                                    <span asp-validation-for="catd_Make" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="catd_Model" class="control-label"></label>
                                    <select asp-for="catd_Model" class="form-control" asp-items="@(new SelectList(ViewBag.Model,"Id","ProductName"))" required>
                                        <option value="">Select Option</option>
                                    </select>
                                    <span asp-validation-for="catd_Model" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="catd_Step" class="control-label"></label>
                                    <select asp-for="catd_Step" class="form-control" asp-items="@(new SelectList(ViewBag.Step,"s_id","s_description"))" required>
                                        <option value="">Select Option</option>
                                    </select>
                                    <span asp-validation-for="catd_Step" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
