﻿@model Grinding.Models.CategoryDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>Delete Category</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>CategoryDetail</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_cat_id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_cat_id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_part_Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_part_Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_Model_Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_Model_Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_Make_Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_Make_Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_Step)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_Step)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_cre_by)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_cre_by)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.catd_cre_date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.catd_cre_date)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="catd_id" />
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a  class="btn btn-secondary"  asp-action="Index">Back to List</a>
                    </form>
                </div>
                </div>
</div>
</div>
</div>