﻿@model IEnumerable<Grinding.Models.CategoryDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h3>CategoryDetail</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <p>
                    <a class="btn btn-warning" asp-action="Create">Create New</a>
                </p>
                <table class="table" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.catd_cat_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.catd_cat_description)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.catd_part_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.catd_Make_Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.catd_Model_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.catd_Step_Name)
                            </th>
                              <th>
                                @Html.DisplayNameFor(model => model.catd_cre_by_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.catd_cre_date)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_cat_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_cat_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_part_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_Make_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_Model_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_Step_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_cre_by_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.catd_cre_date)
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.catd_id">Edit</a> 
                                </td><td>
                                    <a asp-action="Delete"class="btn btn-danger"  asp-route-id="@item.catd_id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
</div>

</div>
</div>
</div>
