﻿@model Grinding.Models.Step

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <h2>Delete Step</h2>
            <div class="card">
                <div class="card-body">
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Step</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.s_description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.s_description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.s_active_yn)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.s_active_yn)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.s_cre_by)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.s_cre_by)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.s_cre_date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.s_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="s_id" />
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                    </div>
</div>
</div>
</div>
