﻿@model Grinding.Models.Step

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2>Edit Step</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="s_id" />
                            <div class="form-group">
                                <label asp-for="s_description" class="control-label"></label>
                                <input asp-for="s_description" class="form-control" required />
                                <span asp-validation-for="s_description" class="text-danger"></span>
                            </div>
                            @if(@ViewBag.Message!=null){
                            <div class="form-group">
                                <label class="label label-danger">@ViewBag.Message</label>
                            </div>
                            }
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>

                </div>
</div>
</div>
</div>