﻿@model IEnumerable<Grinding.Models.Step>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Step</h3>
            </div>

            <p>
                <a asp-action="Create" class="btn btn-warning">Create New</a>
            </p>

            <table class="table" id="mytable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.s_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.s_active_yn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.s_cre_by_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.s_cre_date)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.s_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.s_active_yn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.s_cre_by_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.s_cre_date)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.s_id">Edit</a>
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.s_id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
</div>
</div>