﻿@model IEnumerable<Grinding.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">

            <div class="page-header">
                <h3>Menu</h3>
            </div>
                <p>
                    <a asp-action="Create" class="btn btn-warning">Create New</a>
                </p>
     
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive nowrap" id="mytable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_desc_to_show)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_link)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_parrent_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_active_yn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_cre_by)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.m_cre_date)
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_desc_to_show)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_link)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_parrent_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_active_yn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_cre_by)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.m_cre_date)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.m_id">Edit</a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.m_id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>