﻿@model IEnumerable<Grinding.Models.WorkTime>

@{
    Layout = null;
}
<style>
    .a{

    }
    .b{

    }
</style>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.wrk_con_code)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.wrk_start_from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wrk_end_time)
            </th>
            <th>
                Duration
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wrk_cre_by_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wrk_cre_date)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="a">
            <td>
                @Html.DisplayFor(modelItem => item.wrk_con_code)
            </td>
            <td>
                <input type="hidden" class="b" value="@Html.DisplayFor(modelItem => item.wrk_id)" />
                <input type="hidden" name="starttime" id="@string.Format("starttime{0}", @item.wrk_id)" value="@Html.DisplayFor(modelItem => item.wrk_start_from)" />
                @Html.DisplayFor(modelItem => item.wrk_start_from)
            </td>
         
            <td>
                <input type="hidden" name="starttime" id="@string.Format("EndTime{0}", @item.wrk_id)" value="@Html.DisplayFor(modelItem => item.wrk_end_time)" />
                @if (item.wrk_end_time != null)
                {
                    @Html.DisplayFor(modelItem => item.wrk_end_time)
                }
                else
                {
                    <button class="btn btn-secondary" onclick="EndWork(@item.wrk_id);">Pause</button>
                }
            </td>
            <td>
                 <label type="text" align="right" name="Duration" id="@string.Format("Duration{0}", @item.wrk_id)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wrk_cre_by_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wrk_cre_date)
            </td>

        </tr>
}
    </tbody>
</table>



