﻿@model Grinding.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h2>Create Role</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="r_description" class="control-label"></label>
                                <input asp-for="r_description" class="form-control" required/>
                                <span asp-validation-for="r_description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                </div>
            </div>
            </div>
        </div>
   @section Scripts {
       @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   }
