﻿@model Grinding.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">

                <h2>Delete</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Role</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.r_description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.r_description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.r_active_yn)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.r_active_yn)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.r_cre_by)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.r_cre_by)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.r_cre_date)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.r_cre_date)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="r_id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
