﻿@model IEnumerable<Grinding.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="Pallet-fluid" style="margin-top:10px;">
        <div class="card">
            <div class="card-body">
                <div class="page-header">
                    <h3>Role</h3>
                </div>

                <p>
                    <a asp-action="Create" class="btn btn-warning">Create New</a>
                </p>

            
            <div id="liveMonitoring">
                <div class="card">
                    <div class="card-body">
                        <table class="table  table-responsive text-nowrap" id="mytable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.r_id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.r_description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.r_active_yn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.r_cre_by_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.r_cre_date)
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.r_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.r_description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.r_active_yn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.r_cre_by_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.r_cre_date)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.r_id">Edit</a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.r_id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>